<%- include('../partials/header') %>

    <table id='list'>
        <thead>
            <h1>Your Routines:</h1>
    <thead>
        <tr>
    <th>Name:</th>
    <th>Exercise:</th>
    <th>Sets:</th>
    <th>Reps:</th>
    <th>Weight:</th>
    <th>Date Created:</th>
    <th>Completed:</th>
    </tr>
    </thead>
        
    <tbody>
        <% routines.forEach(r => { %>
        <tr>
    <td><%= r.name %></td>
    <td><%= r.exercises %></td>
    <td><%= r.sets %> </td>
    <td><%= r.reps %> </td>
    <td><%= r.weight %> </td>
    <td><%= r.dateCreated %> </td>
    <td><%= r.completed ? 'Yes' : 'No' %> </td>
    <td><a href='/routines/<%= r._id %>'>VIEW</a></td>
    </tr>
         
        <% }) %>
    
    </tbody>
</table>

<%- include('../partials/footer') %> 