<%- include('../partials/header') %>

<h2>Your Routines</h2>
<table>
    <thead>
        <tr class="titles">
            <th>Routine Name</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% routines.forEach(function(routine) { %>
            <tr class='content'>
                <td class='routine-name'><%= routine.routine %></td>
                <td class='description'><%= routine.description %></td>
                <td class='date'><%= routine.date %></td>
            </tr> 
            <% }); %> 
    </tbody>
</table>

<%- include('..partials/footer') %> 