<%- include('../partials/header') %>

<h2>Your Routines</h2>
<table>
    <thead>
        <tr class="titles">
            
            <th>Routine Name:</th>
            <th>Exercise:</th>
            <th>Sets:</th>
            <th>Reps:</th>
            <th>Weight:</th>
            <th>Date:</th>
            <th>Completed:</th>
        </tr>
    </thead>
    <tbody>
        <% routines.forEach(function(routine) { %>
            <tr class='content'>
                <td class='name'><%= routine.nameOfRoutine %></td>
                <td class='exercise'><%= routine.exercises %> </td> 
                <td class='set'><%= routine.sets %></td>
                <td class='rep'><%= routine.reps %></td>
                <td class='weight'><%= routine.weight %> </td>
                <td class='date-created'><%= routine.dateCreated %></td>
                <td><%= routine.completed %> </td>

            </tr> 
            <% }); %> 
    </tbody>
</table>

<%- include('../partials/footer') %> 