<%- include('../partials/header') %>

<h2>Your Routines</h2>
<table>
    <thead>
        <tr class="titles">
            
            <th>Routine Name:</th>
            <th>Description:</th>
            <th>Exercise:</th>
            <th>Sets:</th>
            <th>Reps:</th>
            <th>Weight:</th>
            <th>Date:</th>
        </tr>
    </thead>
    <tbody>
        <% routines.forEach(function(routine) { %>
            <tr class='content'>
                <td class='name'><%= routine.name %></td>
                <td class='description'><%= routine.description %></td>
                <td class='exercise'><%= routine.exercise %> </td>
                <td class='sets'><%= routine.sets %></td>
                <td class='reps'><%= routine.reps %></td>
                <td class='weight'><%= routine.weight %> </td>
                <td class='date-created'><%= routine.dateCreated %></td>
            </tr> 
            <% }); %> 
    </tbody>
</table>

<%- include('../partials/footer') %> 