<%- include('../partials/header') %>
<body>


        <h1>Your Routines</h1>
        <table>
            <thead>
                <tr class='titles'>
                    <th>Routine Name</th>
                    <th>Description</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                <% routines.forEach(function(r) { %>
                    <tr clas='content'>
                        <td class='routine'><%= r.routine %> </td>
                        <td class='description'><%= r.description %> </td>
                        <td class='date'><%= r.date %></td>
                        </tr>
                        <% }); %> 

            </tbody>
 

        </table>
    </div>
</body>
</html>

<%- include('../partials/footer') %> 