<%- include('../partials/header') %>
    <section id='show-page'>
        <table id='show-table'>
            <thead>
                <h1>Your Routines:</h1>
        <th>Name:</th>
        <th>Exercise:</th>
        <th>Sets:</th>
        <th>Reps:</th>
        <th>Weight:</th>
        <th>Date Created:</th>
        <th>Completed</th>
            </tr>
        <tbody>
            <tr id='show-table-contents'></tr>
        <th><%= routine.routineName %></th>
        
        <th><%= routine.exercises %></th>
        
        <th><%= routine.sets %> </th>
        
        <th><%= routine.reps %> </th>
        
        <th><%= routine.weight %> </th>
        
        <th><%= routine.dateCreated %> </th>
        
        <th><%= routine.completed ? 'Yes' : 'No' %> </th>
        </tr>
        </tbody>
    </table>
        </section>
        <br><br><br>
        <form id='add-exercise-form' action='/routines/<%= routine._id %>' method='POST'>
            <label>Exercise:</label>
            <input type='text' name='exercises'><br>
            <label>Sets:</label>
            <input type='text' name='sets'><br>
            <label>Reps:</label>
            <input type='text' name='reps'><br>
            <label>Weight:</label>
            <input type='text' name='weight'><br>
            <label>Date:</label>
            <input type='datetime-local' name='date' /><br>
            <label>Completed:</label>
            <input type='checkbox' name='completed' checked></label><br>
        <input type='submit' value='Add Exercises'></form>
        


<%- include('../partials/footer') %> 