<%- include('../partials/header') %>
    <section id='show-page'>
       <div><h1>Your Routines:</h1></div><br>
        <div>Name:</div>
        <div>
            <%= routine.name %>
        </div>
        <div>Exercise:</div>
        <div>
            <%= routine.exercises %> 
        </div>
        <div>Sets:</div>
        <div>
            <%= routine.sets %> 
        </div>
        <div>Reps:</div>
        <div>
            <%= routine.reps %> 
        </div>
        <div>Weight:</div>
        <div>
            <%= routine.weight %> 
        </div>
        </section>
        <br><br>
        <h2>Add Another Exercise</h2>
        <form id='add-exercise-form' method='POST' action='/routines/<%= routine._id %>/exercises' >
            <label>Name:</label>
                <input type='name' name='name'><br>
            <label>Sets:</label>
                <input type='text' name='sets'><br>
            <label>Reps:</label>
                <input type='text' name='reps'><br>
            <label>Weight:</label>
                <input type='text' name='weight'><br>
         <input type='submit' value='Add Exercises'>
        </form>
<br>
        <% if (routine.completedExercise.length) { %>
            <table>
                <thead>
                    <tr>
                    <th>Date</th>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <% routine.completedExercise.forEach(function(e) { %> 
                        <tr>
                            <td><%= e.createdAt.toLocaleDateString() %> </td>
                            <td><%= e.name %> </td>
                            <td><%= e.sets %> </td>
                            <td><%= e.reps %> </td>
                            <td><%= e.weight %> </td>
                            <td>
                            <form action='/exercises/<%= e._id %>?_method=DELETE' method='POST'> 
                            <button type='submit'>X</button></tr></td>
                                        </form>
                                <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>Come on! You're more than just one exercise! Do more!</h5> 
        <% } %>
        


<%- include('../partials/footer') %> 