<%- include('../partials/header') %>
    <section id='show-page'>
        <div>Routine:</div>
        <div><%= routine.name %></div>
        <div>Exercise:</div>
        <div><%= routine.exercises %> </div>
        <div>Sets:</div>
        <div><%= routine.sets %> </div>
        <div>Reps:</div>
        <div><%= routine.reps %> </div>
        <div>Weight:</div>
        <div><%= routine.weight %> </div>
        <div>Date Created:</div>
        <div><%= routine.dateCreated %> </div>
        <div>Completed</div>
        <div><%= routine.completed ? 'Yes' : 'No' %> </div>
        </section>
        <br>
        <form id='new-form' action='/routines/edit' method='GET'>
        <input type='submit' value='Edit Routine'></form>


<%- include('../partials/footer') %> 