<%- include('../partials/header') %>
    <section id='show-page'>
        <div>Routine:</div>
        <div>
            <%= routine.name %> 
        </div><br>
        <div>Exercise:</div>
        <div><%= routine.exercises %> </div><br>
        <div>Sets:</div>
        <div><%= routine.sets %> </div><br>
        <div>Reps:</div>
        <div><%= routine.reps %> </div><br>
        <div>Weight:</div>
        <div><%= routine.weight %> </div><br>
        <div>Date Created:</div>
        <div><%= routine.dateCreated %> </div><br>
        <div>Completed</div>
        <div><%= routine.completed ? 'Yes' : 'No' %> </div>
        </section>


<%- include('../partials/footer') %> 